In [11]:
import pandas as pd
import numpy as np

In [20]:
pima = pd.read_csv("pima.csv", header=None)
pima.columns = ["","","","","","", "","", "class"]
pima.head()

,,,,,,,,,class
0,0.352941,0.670968,0.489796,0.304348,0.169471,0.314928,0.234415,0.483333,yes
1,0.058824,0.264516,0.428571,0.239130,0.169471,0.171779,0.116567,0.166667,no
2,0.470588,0.896774,0.408163,0.239130,0.169471,0.104294,0.253629,0.183333,yes
3,0.058824,0.290323,0.428571,0.173913,0.096154,0.202454,0.038002,0.000000,no
4,0.000000,0.600000,0.163265,0.304348,0.185096,0.509202,0.943638,0.200000,yes

In [21]:
pima = pima.sample(frac=1).reset_index(drop=True)

In [23]:
classes = pima["class"].unique()
class_data = {c: pima[pima["class"] == c] for c in classes}

In [25]:
class_folds = {c: [] for c in classes}

In [26]:
for c in classes:
    class_size = len(class_data[c])
    fold_size = class_size // 10
    extra_samples = class_size % 10
    
    indicies = np.arange(class_size)
    np.random.shuffle(indicies)
    
    for i in range(10):
        fold_indicies = indicies[i*fold_size:(i+1)*fold_size]
        if extra_samples > 0:
            fold_indicies = np.concatenate([fold_indicies, [indicies[-extra_samples]]])
            extra_samples -= 1
        
        fold_data = class_data[c].iloc[fold_indicies]
        class_folds[c].append(fold_data)

In [29]:
folds = []
for i in range(10):
    fold = pd.concat([class_folds[c][i] for c in classes])
    folds.append(fold)

In [30]:
with open("pima-fold.csv", "w") as f:
    for i, fold in enumerate(folds):
        f.write("fold{}\n".format(i+1))
        f.write("{}\n".format(fold.to_csv(index=False, header=False)))